<div class="table" style=" width: 90%;gap: 30px; text-align: center;">
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
      </tr>
    </thead>
    <tbody>
      <tr style="gap: 97px;">
        <td><input type="text" style="height: 20px;"[(ngModel)]="Student.name"></td>
        <td><input  [(ngModel)]="Student.email"></td>
        <td><input type="text"[(ngModel)]="Student.phone"></td>
      </tr>
    </tbody>
  </table>
</div>
<h1 style="color: gray; font-family: 'Times New Roman', Times, serif;">{{Student.name}}</h1>
<h2>{{Student.email}}</h2>
<h2>{{Student.phone}}</h2>


